* {
  font-family: sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
}

body {
  background-color: #3e3e46;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body .log{
  padding: 30px;
  display: block;
  justify-content: center;
  align-items: center;
}

body .caixa {
  background-color: #1f1f65;
  align-items: center;
  display: block;
  border-radius: 6px;
  padding-bottom: 25px;
  text-align: center;
}

.logo {
  max-width: 600px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  display: block;
}

.container-input {
  max-width: 480px;
  margin: 14px 0;
}

.container-input span {
  color: white;
  font-size: 22px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #dfdfd2;
  height: 18px;
  outline: none;
  margin-top: 8px;
}

.button-cta {
  height: 40px;
  background-color: green;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  transition: transform 0.5s;
}

.button-cta:hover {
  transform: scale(1.05);
  background: rgb(108, 149, 49);
  display: block;
}

.container-password {
  max-width: 480px;
  margin: 14px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.title {
  text-align: center;
  color: wheat;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.password {
  height: 60px;
  background-color: rgb(68, 62, 62);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #3e3e46;
  transition: transform 0.5s;
}

.password:hover {
  transform: scale(1.05);
}

.tootip {
  color: white;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background: #151313;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0/5s ease-in-out;
  border-bottom: 20px;
  display: block;
}

.hide {
  display: none;
}

.container-password:hover .tootip {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
}

footer {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 105px;
  display: block;
}

.rodape {
  background-color: #1f1f65;
  align-items: center;
  text-align: center;
  justify-content: last baseline;
  border-radius: 10px;
  padding-top: 20px;
}
